.perfil-empleado {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.foto-y-nombre {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 5em;
}

.foto-y-nombre .avatar {
    background-color: #3497c4;
}

.foto-y-nombre .nombre {
    margin-top: 0.5em;
    justify-content: center;
}

.perfil-empleado .perfil-empleado-body {
    width: 50%;
    align-self: flex-start;
    padding-top: 2em;
}

.perfil-empleado .perfil-empleado-body .informacion {
    padding: 2em 2em 2em 2em;
}

.perfil-empleado .perfil-empleado-body .add {
    padding: 2em 2em 2em 2em;
}

.fechas-paragraph {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.dropdown-paragraph {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.contrato-paragraph {
    width: 30%;
}