.tab-estadisticas-div {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin-top: 2em;
    height: 100%;
    width: 80%;
}

.header-div {
    display: flex;
    flex-direction: row;
    width: auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 7em;
}

.chart-div {
    height: 20em;
    justify-content: center;
}

.chart-diario {
    height: 100%;
}

.chart-semanal {
    width: 70%;
    height: 70%;
}

.chart-mensual {
    width: 80%;
    height: 90%;
}

.chart-anual {
    width: 80%;
    height: 90%;
}