.tab-horas-cargadas-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 1em;
}

.calendario-semanal-paper {
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60%;
}

.dia-paper {
    padding: 1em;
    height: 50vh;
}

.hora-cargada-div {
    border-radius: 3px;
    margin-top: 2%;
    margin-bottom: 2%;
}