.empleados-screen-div {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 35em;
    width: 100%;
    background: rgba(245, 245, 220, 0.7);
}

.empleados-screen-div .empleados-table {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    width: 80%;
}